body {
	background: #161515 !important;
	color: #f5eeee;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(248, 243, 243, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.row {
  /* background-color: aqua; */
display: flex;
align-items: center;
justify-content: center;

}
.col {
  /* background-color: bisque; */
  display: flex;
align-items: center;
justify-content: center;

}
.movie_heading {
  /* background-color: rgb(47, 240, 195); */
  color: #f5eeee;
  display: flex;
    justify-content: center;
    align-items: center;
}
.movie_padding{
  padding: 0%;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}